.aboutMe {
    display: flex;
    margin: 40px 20px;
}

.avatar {
    grid-area: about-me-avatar;
}

.avatar img{
    width: 300px;
}

.info {
    grid-area: about-me-info;
}

.info h2 {
    margin-left: 40px;
}

.info li {
    list-style-type: none;
    font-size: 20px;
}