.header {
    grid-area: h;
    background-color: steelblue;
}

.header img {
    width: 20px;
}

.loginBlock {
    border: 1px solid black;
    float: right;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
}

.loginBlock a {
    text-decoration: none;
}

.loginBlock a:visited {
    text-decoration: none;
    color: black;
}
